@using Newtonsoft.Json
@{
    ViewData["Title"] = "View Patient";
}
<h2>@ViewData["Title"].</h2>

@if (ViewBag.ErrorMessage != null)
{
    <h3>@ViewBag.ErrorMessage</h3>
}

@if (ViewBag.PatientDataResponse != null)
{
    <h3>Patient Information</h3>
    <dl>
        <dt>Patient First Name</dt>
        <dd>@ViewBag.PatientDataResponse.FirstName</dd>
        <dt>Patient Last Name</dt>
        <dd>@ViewBag.PatientDataResponse.LastName</dd>
        <dt>Patient DOB</dt>
        <dd>@ViewBag.PatientDataResponse.DateOfBirth</dd>
    </dl>
    <div>
        <input class="btn btn-default" type="button" value="Edit Patient" @(ViewBag.HasEditPatientPermission ? "" : "disabled")>
    </div>
}

@if (ViewBag.UserPermissions != null)
{
    <h3>Authenticated User's Permissions</h3>
    <pre>
        @Html.Raw(JsonConvert.SerializeObject(ViewBag.UserPermissions, Formatting.Indented))
    </pre>
}

